<div class="row">
    <div class="card col-11 mx-auto m-4 my-card">
        <div class="card-header bg-lilac">
            <h5>{{post.title}}</h5>
            <h9>Posted by {{post.user.username}} on {{format_time post.createdAt}}</h9>
        </div>
        <div class="card-body">
            <p class="card-text">{{post.content}}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="card col-11 mx-auto m-4 my-card">
        <div class="card-header bg-lilac">
            <h5>Comments</h5>
        </div>
        <div class="card-body">
            {{#if logged_in}}
            <form>
                <div class="mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" id="comment" style="height: 100px"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-dark btn-sm" id="comment-button">Comment</button>
            </form>
            {{/if}}
            {{#each comments as |comment|}}
            <p class="card-text">{{comment.content}}</p>
            <p class="card-text">-{{comment.user.username}}, {{format_time comment.createdAt}}</p>
            <hr>
            {{/each}}
        </div>
    </div>
</div>

<script src="/js/comment.js"></script>